sdl2-bin/*
sdl2-lib/*
sdl2-include/*

lua-lib/*
lua-bin/*
lua-include/*

libogg-lib/*
libogg-bin/*
libogg-include/*

opus-lib/*
opus-bin/*
opus-include/*

opusfile-lib/*
opusfile-bin/*
opusfile-include/*

faucmix-lib/*
faucmix-bin/*

pkg-config-bin/*

pkg/*
